<div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="auto">
  <section style="height: 80px;"></section>
  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
    <h1 class="mat-display-2">TestApp</h1>
  </div>
  <section style="height: 50px;"></section>
  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
    <mat-form-field>
      <input matInput placeholder="Message">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
    <button mat-raised-button color="warn">Send message</button>
  </div>
  <section style="height: 50px;"></section>
  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
    Reply
  </div>
  <section style="height: 50px;"></section>
  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
    <button mat-raised-button color="warn" routerLink="/">Back</button>

  </div>

</div>
